body {
    padding: 0;
    margin: 0;
    background-color: #b4cfe8e0;
}

.container {
    display: flex;
}

.menu {
    background:#91bae1e0;
    height: 100vh;
    width: 9vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.adicionar {
    position: absolute;
    top: 104px;
    cursor: pointer;
    height: 40px;
    width: 40px;
    margin: 10px 0;
}

.adicionar:hover{
    background-color: rgb(12, 18, 26);
    border-radius: 33px;
    border: 100px;
}

.pesquisar{
    border-radius: 66px;
    position: absolute;
    top: 164px;
    left: 0px;
    cursor: pointer;
    height: 40px;
    width: 40px;
    margin: 10px;
}
.pesquisar:hover{
    background-color: rgb(22, 24, 26);
}

main {
    flex-grow: 1;
    margin-left: 9vh; /* Largura do menu */
    padding: 1em;
}

.bloco-nota {
    margin-top: 55px;
    height: 500px;
    width: 808px;
    margin-left: 160px;
}

.bem-vindo{
    color:rgb(3, 11, 19);
    font-size: 34px;
    position: absolute;
    top: 3px;
}
.bloco-nota h3 {
    color:rgb(14, 18, 22);
    font-size: 34px;
    top: 40px;
    left: 8px;
    position: relative;
    display: inline-block;
}

#title{
    height: 22px;
    width: 400px;
    outline: none;
    background-color: #91bae1e0;
    color: aliceblue;
    position: relative;
    border: 2px solid rgb(23, 111, 211);
    border-radius: 9px;
    top: 32px;
    left: 13px;
    display: inline-block;
}

#note{
    background-color: #91bae1e0;
    color: aliceblue;
    height: 320px;
    width: 1000px;
    margin-top: 1em;
    outline: none;
    font: 'Courier New', Courier;
    font-size: 13px;
    border: 2px solid rgb(23, 111, 211);
    border-radius: 12px;

}

#salvar{
    height: 30px;
    width: 70px;
    color:  rgb(23, 111, 211);
    background-color: #f2eaea;
    border: 2px solid  rgb(23, 111, 211);
    border-radius: 12px;
    margin-top: 1em;
    cursor: pointer;
    position: relative;
    display: inline-block;
}

#salvar:hover{
    border: 2px solid rgb(23, 111, 211);
    background-color: rgb(23, 111, 211);
    color: #f2eaea;
}
ul{
    margin-left: 0px;
    margin-top: 82px;

}

#excluir{
    height: 25px;
    width: 70px;
    color:  rgb(23, 111, 211);
    background-color: #f2eaea;
    border: 2px solid  rgb(23, 111, 211);
    border-radius: 9px;
    cursor: pointer;
}
#excluir:hover{
    border: 2px solid  rgb(23, 111, 211);
    background-color: rgb(23, 111, 211);
    color: #f2eaea;

}

.Lista-de-Notas{
    margin-left: 160px;
    width: 1160px;
    background-color: rgb(233, 224, 224);
    border-radius: 0px 0px 12px 12px;
}

.main-titulo-lista{
    margin-left: 160px;
    width: 1160px;
    height: 40px;
    background-color:  rgb(23, 111, 211);
    border-radius: 12px 12px 0px 0px;
}

.titulo-lista-nota{
    margin-left: 64vh;


}
hr{
    border-color: rgb(23, 111, 211); 
}