<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/static/oi.css">
        <script src="/static/javascript/funcao.js"></script>
        <link rel="shortcut icon" href="/static/img/icon-salvar.png">
        <link rel="shortcut icon" href="/static/img/img.png">
        <title>Fast Note</title>
    </head>
<body>

    <main>
        <form id="note-form" action="/front/notes" , method="post">
            <div class="bloco-nota" id="nota">
              <div class="bem-vindo"><h3>Bem vindo: {{user.name}}</h3></div>
                <h3><i>Titulo</i></h3>
                <input type="hidden" name="token" value="{{ token }}">
                <label for="title"></label>
                <input type="text" id="title" name="title" placeholder="Insira seu titulo">
                <label for="note"></label>
                <textarea type="text" id="note" name="note" placeholder="Insira seu texto..."></textarea>
                <button type="submit" value="Submit" id="salvar"><b><i>Salvar</i></b></button>
            </div>

        </form>
    </main>
    
    <div class="main-titulo-lista">
        <h1 class="titulo-lista-nota">Lista de Notas</h1>
    </div>

    <div class="Lista-de-Notas">

    {% for note in notes %}

        <li>{{ note.title }}: {{ note.text }} -- [{{note.created_at}}] -- {{note.id}}<form  action="/front/delete-note/{{note.id}}" method="post" style="display:inline;"></li>
                
            <br>
            <input type="hidden" name="_method" value="delete">
            
            <input type="hidden" name="token" value="{{ token }}">
            
            <button id="excluir" type="submit"><b>Excluir</b></button>
            <hr>
        </form>
            
            
         
    {% else %}
        <li>Não existe notas ainda!!</li>
        
        
    {% endfor %}
    </div>
    
</ul>



<script>
    
    const token = localStorage.getItem('access_token');

    if (!token) {
        alert('Você precisa estar logado para acessar esta página!');
        window.location.href = '/login'; 
    } else {
        
        fetch('/front/current-user', {
            method: 'GET',
            headers: {
                'Authorization': `Bearer ${token}` 
            }
        })
        .then(response => {
            if (!response.ok) {
                throw new Error('Erro ao obter informações do usuário');
            }
            return response.json();
        })
        .then(data => {
            
            document.getElementById('user-info').innerText = `Usuário: ${data.username}`;
        })
        .catch(error => {
            console.error('Erro:', error);
            
        });
    }
    window.addEventListener('beforeunload', function() {
    document.getElementById('note-form').reset(); 
});
/*function deleteNote(noteId) {
        if (confirm('Você tem certeza que deseja excluir essa nota?')) {
            fetch(`/front/notes/${noteId}`, {
                method: 'DELETE',
                headers: {
                    'Authorization': `Bearer ${token}`
                }
            })
            .then(response => {
                if (!response.ok) {
                    throw new Error('Erro ao deletar a nota');
                }
                return response.json();
            })
            .then(data => {
                alert(data.message);  
                window.location.reload();  
            })
            .catch(error => {
                console.error('Erro:', error);
                alert('Erro ao deletar a nota');
            });
        }
    }*/
    
    
</script>



</body>
</html>